.hero{
  background-image: url('../../assets/img/luke-chesser-3POMgLjfYv0-unsplash.jpg') !important;
  background-size: cover;
  background-position: center center;
}

.dropdown-menu{
  height: 150px;
  overflow: auto;
  border-radius: 10px;
  margin-top: 1px;
}

.button{
  background-color:grey;
  color: white;
  min-width: 200px;
}

.dropdown{
  // padding-right: 10px;
  margin: 10px;
}

.dropdown-button{
  min-width: 200px;
}

.dropdown-content{
  min-width: 200px;
  background-color:grey;
  position: relative;
}

.load-data-style{
  padding-top: 35px;
}

.scatterChart{
  margin-top: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: white;
  border-color: black;
}

.dropdown-item{
  color: white;
  font-weight: 900;
  font-family: "Lucida Console", "Courier New", Arial, monospace;
}

.title{
  font-family: 'Noto Sans', Georgia, 'Times New Roman', Times, serif; 
}

@media screen and (max-width:650px){
  .title{
    font-size: 20px;
  }
  .dropdown{
    margin: 10px;
  }
  .dropdown-button{
    margin:10px;
  }
}