<div class="navbar is-dark">
  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['']">
      <!-- My logo goes here -->
      <img width="60" src="assets/img/progress.jpg">
    </a>
  </div>

  <!-- menu -->
  <div class="navbar-menu">
    <div class="navbar-end">
      <!-- <a class="navbar-item" routerLink="/">Home</a> -->
      <a class="navbar-item" routerLink="view-data">View Data</a>
      <a class="navbar-item" routerLink="visualize-data">Visualize Data</a>
      <!-- <a class="navbar-item" routerLink="about">About</a> -->
      <!-- <a class="navbar-item" routerLink="help">Help</a> -->
      <!-- <a class="navbar-item" routerLink="load-data">load</a> -->
    </div>
  </div>
</div>