.hero{
  background-image: url('../../assets/img/luke-chesser-3POMgLjfYv0-unsplash.jpg') !important;
  background-size: cover;
  background-position: center center;
}

.dropdown-menu{
  height: 150px;
  overflow: auto;
}

.dropdown{
  // padding-right: 10px;
  margin: 10px;
}

.dropdown-button{
  min-width: 200px;
}

.dropdown-content{
  min-width: 200px;
}

.load-data-style{
  padding-top: 35px;
}

.dropdown-item{
  font-family: "Lucida Console", "Courier New", Arial, monospace;
}

.title{
  font-family: 'Noto Sans', Georgia, 'Times New Roman', Times, serif;
}

.dropdown-content-year{
  min-width: 200px;
  display: block;
}
.dropdown-content-exercise{
  min-width: 200px;
  display: block;
}
.show{
  display: none;
}

.dropdown-year{
  height: 150px;
  overflow: auto;
}

@media screen and (max-width:650px){
  .title{
    font-size: 20px;
  }
  .dropdown{
    margin: 10px;
  }
  .dropdown-button{
    margin: 10px;
  }
}