<section class="hero is-primary is-bold is-fullheight">
  <div class="container has-text-centered">
    <!-- Header title -->
    <div class="hero-body">
      <h1 class="title" *ngIf="!exerciseSelected || !yearSelected">
        Select year and exercise to view data
      </h1>
      <h1 class="title" *ngIf="exerciseSelected && yearSelected">
        Viewing data for {{selectedExercise}} in {{selectedYear}}
        <p style="font-size: 15px; font-family: 'Noto Sans', Georgia, 'Times New Roman', Times, serif;">
          <br><br>Select alternate year or exercise to view other data
        </p>
      </h1>
    </div>
    <!-- Year dropdown -->
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button dropdown-button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span *ngIf="!yearSelected" style="font-family:'Noto Sans', Georgia, 'Times New Roman', Times, serif; font-size: large;">Select Year</span>
          <span *ngIf="yearSelected" style="font-family:'Noto Sans', Georgia, 'Times New Roman', Times, serif; font-size: large;">{{selectedYear}}</span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div *ngIf="showYearContent">
          <div class="dropdown-content" *ngFor="let year of allYears">
            <p class="dropdown-item" (click)="yearSelect(year)">{{year}}</p>
          </div>
        </div>
        <div *ngIf="!showYearContent">
          <div class="dropdown-content" *ngFor="let year of allYears">
            <p class="dropdown-item" (click)="yearSelect(year)">{{year}}</p>
          </div>
        </div>
        <!-- <div class="dropdown-content" id="dropdown-content-year" *ngFor="let year of allYears">
          <p class="dropdown-item" (click)="yearSelect(year)">{{year}}</p>
        </div> -->
      </div>
    </div>
    <!-- Exercise dropdown -->
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button dropdown-button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span *ngIf="!exerciseSelected" style="font-family:'Noto Sans', Georgia, 'Times New Roman', Times, serif; font-size: large;">Select Exercise</span>
          <span *ngIf="exerciseSelected" style="font-family:'Noto Sans', Georgia, 'Times New Roman', Times, serif; font-size: large;">{{selectedExercise}}</span>
        </button>
      </div>
      <div class="dropdown-menu" role="menu">
        <div class="dropdown-content" id="dropdown-content-exercise">
          <p *ngIf="!yearSelected" class="dropdown-item">Must Select Year</p>
          <p *ngIf="emptyExercisesData" class="dropdown-item">No exercises</p>
          <!-- <p class="dropdown-item" *ngFor="let exercise of allExerciseNames" (click)="exerciseSelect(exercise)">{{exercise}}</p> -->
          <div *ngIf="showExerciseContent">
            <div class="dropdown-content" *ngFor="let exercise of allExerciseNames">
              <p class="dropdown-item" (click)="exerciseSelect(exercise)">{{exercise}}</p>
            </div>
          </div>
          <div *ngIf="!showExerciseContent">
            <div class="dropdown-content" *ngFor="let exercise of allExerciseNames">
              <p class="dropdown-item" (click)="exerciseSelect(exercise)">{{exercise}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="load-data-style" *ngIf="exerciseSelected && yearSelected">
      <app-load-data *ngIf="loadNewGrid"
        [exercise]="selectedExercise" 
        [year]="selectedYear"
        >
      </app-load-data>
      <app-load-data *ngIf="!loadNewGrid"
        [exercise]="selectedExercise" 
        [year]="selectedYear"
        >
      </app-load-data>
    </div>
    <!-- <div class="scatterChart" *ngIf="exerciseSelected && yearSelected">
      <app-scatter-chart *ngIf="loadNewChart"
        [year]="selectedYear"
        [exercise]="selectedExercise"
        >
      </app-scatter-chart>
      <app-scatter-chart *ngIf="!loadNewChart"
        [year]="selectedYear"
        [exercise]="selectedExercise"
        >
      </app-scatter-chart>
    </div> -->
  </div>
</section>